 {{> header}}
 
 <div class="col-md-6 text-center col-lg">
    <img class="profile-img" src="./images/user.png" />
    <div class="profile-info">
      <p>Email: <small>{{userEmail}}</small></p>
      <p class="infoType">Organizer of {{count}} events.</p>
      {{#if isHasEvents}}
      {{#each userEvents}}
      <p>{{name}}</p>
      {{/each}}
      {{else}}
      <p>No events</p>
      {{/if}}
    </div>
  </div>

   {{> footer}}