body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-box {
    width: 220px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
    border-radius: 15px;
    overflow: hidden;

    & .image-box {
        width: 300px;
        height: 300px;
        transform: rotate(-45deg);
        opacity: 0.9;
    }
}
