@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

ul {
    list-style: none;
    font-size: 20px;

    & li {
        padding-top: 10px;
        font-weight: 500;
        animation: hiddenText ease-out 2s;
        animation-fill-mode: forwards;
        opacity: 0;


        & i {
            width: 15px;
        }

        & span {
            margin-left: 20px;
        }
    }

    @for $i from 1 to 8 {
        li:nth-child(#{$i}) {
            animation-delay: #{0.5 + $i}s;
        }
    }
}

@keyframes hiddenText {
    0% {
        // opacity: 0;
        transform: translate(-100px, -20px);
    }

    100% {
        opacity: 1;
    }
}
