body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  background-color: red;
  text-align: center;
  color: white;
  font-size: 26px;
  font-weight: 500;
}

.box:hover {
  width: 150px;
  height: 150px;
  background-color: blue;
  font-size: 18px;
  transition: 1s ease-out;
  transform: translate(100px, -50px);
  color: yellow;
}
