#notifications {
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    margin: 1em;
}

.notification {
    font-size: 1.5em;
    color: #ffffff;
    display: none;
    text-align: right;
}

.notification>span {
    display: inline-block;
    padding:  0.5em 2em 0.5em 2em;
    border-radius: 10px;
}

#loadingBox>span {
    background: #7CB3E9;
}
#infoBox>span {
    background: #393;
}
#errorBox>span {
    background: #F50;
}

img{
    width: 200px;
    height: 200px;
}

#deleteBtn{
 border-radius: 5px;
 margin: 5px;
}

#cardsContainer{
    display: flex;
    min-width: 100%;
}

.card{
    margin: 0 10px;
    width: 300px;
    border-radius: 10px;
}

header{
    width: 100%;
    background-color: black;
    margin-bottom: 50px;
}

header ul{
    list-style: none;
}
header li{
    display: inline;
}

header a{
    color: white; 
    margin: 10px 20px;   
    cursor: pointer;
    font-size: 20px;
}

header a:hover{
    color: tomato;
    text-decoration: none;
}

#logo{
    font-size: 36px;
    margin-right: 100px;
    cursor: pointer;
}

#logo:hover{
    color: lawngreen;
}