{{#if isAuthor}}
    <a href="/edit/{{team.id}}" class="btn btn-default">Edit Info</a>
{{/if}}
{{#if isOnTeam}}
    <a href="/leave/{{team.id}}" class="btn btn-default">Leave Team</a>
{{else}}
    <a href="/join/{{team.id}}" class="btn btn-default">Join Team</a>
{{/if}}