.u-header-button{
    margin: 0 30px;
    background-color: rgb(66, 171, 248);
    border: none;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 7px 7px 4px 1px rgba(124,196,214,0.3);
}