@import "../01.Setting/settings-colors.scss";

.information-container {
    height: 587px;
    margin-top: 136px;
    display: grid;
    grid-template-rows: 387px 32px 36px 36px auto;
    grid-template-columns: 64px 488px 99px 89px 64px 488px auto;

    @include phone {
        height: 1325px;
        margin-top: 550px;
        grid-template-columns: 50px 285px;
        grid-template-rows: 652px 254px 88px 80px 42px 32px 48px auto;
    }

    &__text {
        grid-row: 1 / 2;
        grid-column: 1 / 5;

        @include phone {
            grid-row: 1/ 2;
            grid-column: 1 / 3;
        }
    }

    &__video-section {
        grid-row: 1 / 2;
        grid-column: 6 / -1;

        @include phone {
            grid-row: 2 / 3;
            grid-column: 1 / 3;
        }
    }  

    &__icon-people {
        grid-row: 3 / 4;
        grid-column: 1 /2;
    }

    &__down-left-text-title {
        margin: 0;
        grid-row: 3 / 4;
        grid-column: 2 / 3;

        @include phone {
            grid-row: 3/ 4;
            grid-column: 2 / 3;
        }
    }

    &__down-left-text {
        grid-row: 4 / 6;
        grid-column: 2 / 3;

        @include phone {
            grid-column: 1 / 3;
            grid-row: 4 / 5;
            margin-top: 0;
        }
    }

    &__border-dotted {
        grid-row: 3 / -1;
        grid-column: 3 / 4;
        border-right: 10px dotted $secondary--100;
        transform: matrix(1, 0, 0, -1, 0, 0);

        @include phone {
            grid-row: 5 / 6;
            grid-column: 1 / 3;
            border-right: none;
            border-top: 10px dotted $secondary--100;
        }
    }

    &__icon-pizzle {
        grid-row: 2 / 3;
        grid-column: 5 / 6;

        @include phone {
            display: none;
        }
    }

    &__icon-notifikation {
        display: none;

        @include phone {
            display: inline-block;
            grid-row: 7 / 8;
            grid-column: 1 / 2;
        }
    }

    &__down-hidden-text-title {
        display: none;

        @include phone {
            display: inline-block;
            grid-row: 7 / 8;
            grid-column: 2 / 3;
            margin: 0;
        }
    }

    &__down-right-text-title {
        grid-row: 3 / 4;
        grid-column: 6 / 7;
        margin: 0;

        @include phone {
            display: none;
        }
    }

    &__down-right-text {
        grid-row: 5 / 6;
        grid-column: 6 / 7;

        @include phone {
            grid-row: 8 / 9;
            grid-column: 1 / 3;
        }
    }
}
