@import "../01.Setting/settings-colors.scss";

.main__teachers__title {
    display: grid;
    background-color: $secondary--600;

    &__container {
        color: $white;
        display: grid;
        grid-template-rows: 128px auto;
        justify-items: center;
        text-align: center;

        @include phone {
            grid-template-rows: 128px 224px;
        }

        h1 {
            margin-top: 64px;
            margin-bottom: 0;
        }

        p {
            max-width: 850px;
            margin: 0;
        }
    }
}
