.program {
    display: grid;
    padding: 65px 0;
    background-image: url("Repository/Images/main_program-background.png");

    @include phone {
        background-image: url("Repository/Images/main-program-background-phone.png");
    }    
}
