.all-teachers-container {
    padding-top: 96px;
    padding-bottom: 128px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 64px;
    grid-column-gap: 32px;

    @include phone {
        padding-top: 64px;
        grid-template-rows: 264px 264px 264px auto;
        grid-template-columns: none;
        grid-row-gap: 48px;
        grid-column-gap: 0;
        justify-self: center;
    }
}