@import "../01.Setting/settings-colors.scss";

    .contact-us-container {
        margin-top: 180px;
        height: 410px;
        display: grid;
        grid-template-rows: 56px 82px 192px auto;
        grid-template-columns: 441px auto;

        &__title {
            grid-row: 1 / 2;
            grid-column: 1 / span all;
            color: $primary--300;
            justify-self: center;
        }

        h2 {
            margin: 0;
        }

        input {
            border: 1px solid $grey--500;
            border-radius: 6px;
            padding: 16px;
            
        }

        ::placeholder {
            color: $grey--500;
        }

        &__input-first {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
            width: 409px;
            height: 52px;
        }

        &__input-second {
            grid-row: 2 / 3;
            grid-column: 2 / 3;
            width: 409px;
            height: 52px;
        }

        &__input-third {
            grid-row: 3 / 4;
            grid-column: 1 / 3;
            width: 100%;
            height: 100%;
            border: 1px solid $grey--500;
            border-radius: 6px;
        }

        &__input-third::placeholder{
          padding: 16px;
        }

        &__button {
            grid-row: 4 / 5;
            grid-column: 1 / 2;
            align-self: flex-end;
        }
    }