@import "../01.Setting/settings-colors.scss";
@import "../01.Setting/settings-border-radius.scss";

.candidate-form-information {
    display: grid;
    grid-template-rows: 156px 74px;
    grid-template-columns: 260px 260px 260px 156px;
    margin-top: 64px;

    @include phone {
        grid-template-rows: 212px 88px 88px 98px auto;
        grid-template-columns: none;
    }

    &__main {
        grid-column: 1 / span all;
        max-width: 850px;
        text-align: center;
        color: $white;

        @include phone {
            max-width: 335px;
            text-align: start;
        }
    }

    h1 {
        margin-top: 0;
        margin-bottom: 24px;

        @include phone {
            font-weight: bold;
            font-size: 24px;
            line-height: 30px;
        }
    }

    p {
        margin: 0;
    }

    input {
        width: 228px;
        height: 52px;
        border-radius: $border-radius-6;
        border: 1px solid #ffffff;
        background-color: $blue--300;
        padding: 16px;

        @include phone{
            width: 335px;
        }
    }

    ::placeholder {
        color: $white;
    }

    &__button {
        justify-self: end;

        @include phone{
            justify-self: center;
        }
    }

    button {
        padding: 14px 32px;

        @include phone{
            padding: 14px 129px;
            font-size: 16px;
        }
    }
}