.hover-item {
  display: none;
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: #FF9100;
  width: 172px;
  height: 172px;
  border-radius: 50%;
  opacity: 0.8;
}

.hover-item p {
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
}

.hover-item__image {
  margin-top: 42px;
  margin-bottom: 12px;
}
