@import "../01.Setting/settings-colors.scss";

.navbar {
    display: grid;
    grid-template-columns: 200px auto 82px;

    &__logo {
        display: flex;
        justify-content: start;
        align-items: center;

        :first-child {
            margin-right: 16px;
        }

        :first-child:hover {
            transform: rotate(90deg);
        }

        :last-child {
            width: 122px;
            height: 42px;
            margin: 16px 0;
        }
    }

    &__items {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        list-style: none;
    }

    &__item {
        list-style: none;
        margin: 15px 24px;

        a {
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            line-height: 16px;
            color: $grey--700;
        }

        a:hover {
            cursor: pointer;
            color: #ff9100;
        }
    }

    &__button{
        display: flex;
        align-items: center;
    }
}
