.main__course_firts-step {
  z-index: -1;
  background-color: #44A9F8;
  display: grid;
  grid-template-rows: 86px 1fr;
}

.main__course_firts-step .label {
  justify-self: center;
  align-self: end;
}

.main__course_firts-step h2 {
  margin-top: 24px;
  max-width: 650px;
  color: #FFFFFF;
}
