@import "../01.Setting/settings-colors.scss";
@import "../01.Setting/settings-border-radius.scss";

.current-teacher {
    margin: 0 27px;
    border-radius: $border-radius-50-percent;

    &__image {
        width: 188px;
        height: 188px;
        border-radius: $border-radius-50-percent;
        border: 8px solid $primary--300;
    }

    &__avatar {
        width: 172px;
        height: 172px;
        border-radius: $border-radius-50-percent;
    }    

    &:hover {
        .hover-item {
            display: block;
            cursor: pointer;
        }
    }
}
