@import "../01.Setting/settings-colors.scss";

.main__course__information {
    display: grid;

    &__container {
        height: 587px;
        margin-top: 136px;
        display: grid;
        grid-template-rows: 387px 32px auto;
        grid-template-columns: 64px 488px 99px 89px 64px 488px auto;

        &__text {
            grid-row: 1 / 2;
            grid-column: 1 / 5;
        }

        &__video-section {
            grid-row: 1 / 2;
            grid-column: 6 / -1;
        }

        .video-section__image{
            width: 440px;
            height: 248px;
            position: absolute;
            top: 36px;
            right: 0;
        }

        .video-section__button{
            position: absolute;
            top: 135px;
            right: 190px;
        }

        &__icon-people {
            grid-row: 3 / 4;
            grid-column: 1 /2;
        }

        h2 {
            margin-top: 0;
        }

        &__down-left-text {
            grid-row: 3 / 4;
            grid-column: 2 / 3;
        }

        &__border-dotted {
            grid-row: 3 / 4;
            grid-column: 3 / 4;
            border-right: 10px dotted $secondary--100;
            transform: matrix(1, 0, 0, -1, 0, 0);
        }

        &__icon-pizzle {
            grid-row: 2 / 3;
            grid-column: 5 / 6;
        }

        &__down-right-text {
            grid-row: 3 / 4;
            grid-column: 6 / 7;
        }
    }
}
