@import "../01.Setting/settings-colors.scss";

.main__course_firts-step {
    z-index: -1;
    background-color: $blue--400;
    display: grid;
    grid-template-rows: 86px 1fr;

    .label {
        justify-self: center;
        align-self: end;

    }

    h2 {
        margin-top: 24px;
        max-width: 629px;
        color: $white;

        @include phone{
            max-width: 335px;
        }
    }
}