@import "../01.Setting/settings-colors.scss";
@import "../01.Setting/settings-shadow.scss";

.label {
    width: fit-content;
    height: fit-content;
    padding: 4px 8px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    background-color: $secondary--500;
    color: $white;
    border-radius: 4px;
    box-shadow: $label-shadow;
}

.label-block {
    display: grid;
    height: 112px;
    background-color: $white;
    grid-template-columns: 227px 10px 61px 56px 143px 56px 175px 56px 193px 56px auto;
    padding: 0 64px;
    border-radius: 12px;
    box-shadow: $secondary-shadow;

    position: absolute;
    top: 320px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    align-items: center;

    p {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        margin: 0;
    }

    h4 {
        color: $secondary--800;
        margin: 6px 0;
    }

    @include phone {
        height: 562px;
        grid-template-rows: 144px 10px 24px 102px 102px 102px auto;
        grid-template-columns: 56px 207px;
        padding: 0 24px;
        align-items: flex-start;
        top: 314px;
    }

    &__button {
        grid-column: 1 / 2;

        @include phone {
            grid-row: 1 / 2;
            grid-column: 1 / 3;
            align-self: center;
        }

        button {
            padding: 14px 32px;
            font-size: 16px;
            line-height: 20px;

            @include phone {
                padding: 16px 94px;
            }
        }
    }

    // .dotted-line{
    //     background: radial-gradient(circle 10px, transparent, transparent 40%, #C4C4C4 60%, #fff 60%, #fff 100%) 55px 8px/70px 19px repeat-y;
    //     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
    // }

    &__icon-money {
        grid-column: 4 / 5;

        @include phone {
            grid-row: 4 / 5;
            grid-column: 1 / 2;
        }
    }

    &__money {
        grid-column: 5 / 6;

        @include phone {
            grid-row: 4 / 5;
            grid-column: 2 / 3;
        }
    }

    &__icon-people {
        grid-column: 6 / 7;

        @include phone {
            grid-row: 5 / 6;
            grid-column: 1 / 2;
        }
    }

    &__people {
        grid-column: 7 / 8;

        @include phone {
            grid-row: 5 / 6;
            grid-column: 2 / 3;
        }
    }

    &__icon-calendar {
        grid-column: 8 / 9;

        @include phone {
            grid-row: 6 / 7;
            grid-column: 1 / 2;
        }
    }

    &__calendar {
        grid-column: 9 / 10;

        @include phone {
            grid-row: 6 / 7;
            grid-column: 2 / 3;
        }
    }

    &__icon-location {
        grid-column: 10 / 11;

        @include phone {
            grid-row: 7 / 8;
            grid-column: 1 / 2;
        }
    }

    &__location {
        grid-column: 11 / 12;

        @include phone {
            grid-row: 7 / 8;
            grid-column: 2 / 3;
        }
    }

    &__people::before,
    &__calendar::before,
    &__location::before {
        content: "";
        background: $grey--100;
        width: 2px;
        height: 24px;
        display: inline-block;
        position: absolute;
        top: 20px;
        left: -90px;

        @include phone {
            transform: rotate(90deg);
            top: -46px;
            left: -48px;
        }
    }
}
