@import "../01.Setting/settings-colors.scss";
@import "../01.Setting/settings-animation.scss";

.firts-step {
    z-index: -1;
    background-color: $blue--400;
    display: grid;
    grid-template-rows: 86px 1fr;

    .label {
        justify-self: center;
        align-self: end;
        opacity: 0;
        animation: hiddenText ease-out 1.5s forwards;
    }    
        
    h2 {
        margin-top: 24px;
        max-width: 629px;
        color: $white;
        opacity: 0;
        animation: hiddenText ease-out 2s forwards 1s;

        @include phone {
            max-width: 335px;
        }
    }
}
