.main {
    &__course {
        display: grid;
        grid-template-rows: 302px 800px 560px 903px;

        @include iphone8 {
            grid-template-rows: 302px 1945px 760px 1201px;
        }
    }

    &__teachers {
        display: grid;
        grid-template-rows: 256px 558px 1472px 412px;

        @include iphone8 {
            grid-template-rows: 356px 1478px 1360px 674px;
        }
    }

    &__contact {
        display: grid;
        grid-template-rows: 426px 686px 572px;
    }
}
