.video-section {
    &__image {
        width: 440px;
        height: 248px;
        position: absolute;
        top: 36px;
        right: 0;

        @include phone {
            width: 335px;
            height: 190px;
            top: 0;
        }
    }

    &__button {
        position: absolute;
        top: 135px;
        right: 190px;

        @include phone {
            top: 60px;
            right: 130px;
        }
    }
}
