.main__course {
  display: grid;
  grid-template-rows: 302px 800px 560px 903px;
}

.main__teachers {
  display: grid;
  grid-template-rows: 256px 558px 1472px 412px;
}

.main__contact {
  display: grid;
  grid-template-rows: 426px 686px 572px;
}
