.wrapper {
    width: 1290px;

    @include phone {
        width: 335px;
    }

    &__candidate-form {
        width: 936px;

        @include phone{
            width: 335px;
        }
    }

    &__contact-us {
        width: 850px;
    }

    &--min {
        width: 1064px;

        @include phone {
            width: 335px;
        }
    }
}
