.wrapper {
    width: 1290px;

    @include iphone8 {
        width: 335px;
    }

    &__candidate-form {
        width: 936px;

        @include iphone8{
            width: 335px;
        }
    }

    &__contact-us {
        width: 850px;
    }

    &--min {
        width: 1064px;

        @include iphone8 {
            width: 335px;
        }
    }
}
