.wrapper{
    width: 1290px;

    @include phone{
        width: 335px;
    }

    &__candidate-form{
        width: 936px;
    }

    &__contact-us{
        width: 850px;
    }
}

.min-wrapper{
    width: 1064px;
}