@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");
html,
* {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
}

h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
}

h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
}

h4 {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

h5 {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

/*! modern-normalize v0.7.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

.wrapper {
  width: 1290px;
}

.wrapper__candidate-form {
  width: 936px;
}

.wrapper__contact-us {
  width: 850px;
}

.min-wrapper {
  width: 1064px;
}

header,
.header {
  display: flex;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
}

.navbar {
  display: grid;
  grid-template-columns: 200px auto 82px;
}

.navbar__logo {
  display: flex;
  justify-content: start;
  align-items: center;
}

.navbar__logo :first-child {
  margin-right: 16px;
}

.navbar__logo :first-child:hover {
  transform: rotate(90deg);
}

.navbar__logo :last-child {
  width: 122px;
  height: 42px;
  margin: 16px 0;
}

.navbar__items {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  list-style: none;
}

.navbar__item {
  list-style: none;
  margin: 15px 24px;
}

.navbar__item a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 16px;
  color: #565656;
}

.navbar__item a:hover {
  cursor: pointer;
  color: #ff9100;
}

.navbar__button {
  display: flex;
  align-items: center;
}

.btn {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  border: none;
  outline: none;
  padding: 10px 22px;
  text-transform: uppercase;
  font-weight: 800;
}

.btn__white {
  background-color: #FFFFFF;
  color: #FF9100;
  border: 1px solid #FF9100;
}

.btn__secondary--800 {
  background-color: #FF9100;
  color: #FFFFFF;
}

.main__course {
  display: grid;
  grid-template-rows: 302px 800px 560px 903px;
}

.main__teachers {
  display: grid;
  grid-template-rows: 256px 558px 1472px 412px;
}

.main__contact {
  display: grid;
  grid-template-rows: 426px 686px 572px;
}

.main__course_firts-step {
  z-index: -1;
  background-color: #44A9F8;
  display: grid;
  grid-template-rows: 100px 1fr;
}

.main__course_firts-step .label {
  justify-self: center;
  margin-top: 68px;
}

.main__course_firts-step h1 {
  margin-top: 10px;
  max-width: 650px;
  color: #FFFFFF;
}

.label {
  width: fit-content;
  height: fit-content;
  padding: 4px 8px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  background-color: #FFC20A;
  color: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
}

.label-block {
  width: 1290px;
  display: grid;
  background-color: #FFFFFF;
  grid-template-columns: 163px 150px 210px 230px 240px auto;
  padding: 0 64px;
  border-radius: 12px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 320px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.label-block__button {
  display: flex;
  align-items: center;
}

.label-block__button button {
  padding: 14px 32px;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  margin: 32px 0;
}

.label-block__item {
  display: grid;
  grid-template-columns: 50px auto;
  align-items: center;
  justify-items: start;
}

.label-block__item img {
  width: 32px;
  height: 32px;
}

.label-block__item p {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.label-block__item h4 {
  margin: 0;
  color: #FF9100;
}

.label-block__money::before {
  content: "";
  background: #F1F1F1;
  width: 2px;
  height: 24px;
  display: inline-block;
  position: absolute;
  top: 45px;
  right: 40px;
}

.label-block__people::before {
  content: "";
  background: #F1F1F1;
  width: 2px;
  height: 24px;
  display: inline-block;
  position: absolute;
  top: 45px;
  right: 35px;
}

.label-block__calendar::before {
  content: "";
  background: #F1F1F1;
  width: 2px;
  height: 24px;
  display: inline-block;
  position: absolute;
  top: 45px;
  right: 28px;
}

.main__course__information {
  display: grid;
}

.main__course__information__container {
  height: 587px;
  margin-top: 136px;
  display: grid;
  grid-template-rows: 387px 32px auto;
  grid-template-columns: 64px 488px 99px 89px 64px 488px auto;
}

.main__course__information__container__text {
  grid-row: 1 / 2;
  grid-column: 1 / 5;
}

.main__course__information__container__video-section {
  grid-row: 1 / 2;
  grid-column: 6 / -1;
}

.main__course__information__container .video-section__image {
  width: 440px;
  height: 248px;
  position: absolute;
  top: 36px;
  right: 0;
}

.main__course__information__container .video-section__button {
  position: absolute;
  top: 135px;
  right: 190px;
}

.main__course__information__container__icon-people {
  grid-row: 3 / 4;
  grid-column: 1 /2;
}

.main__course__information__container h2 {
  margin-top: 0;
}

.main__course__information__container__down-left-text {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

.main__course__information__container__border-dotted {
  grid-row: 3 / 4;
  grid-column: 3 / 4;
  border-right: 10px dotted #FFECB3;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.main__course__information__container__icon-pizzle {
  grid-row: 2 / 3;
  grid-column: 5 / 6;
}

.main__course__information__container__down-right-text {
  grid-row: 3 / 4;
  grid-column: 6 / 7;
}

.main__cours__program {
  display: grid;
  padding: 65px 0;
  background-image: url("../../Repository/Images/main_program-background.png");
}

.main__cours__program__container {
  display: grid;
  grid-template-columns: 60px 675px 1fr;
}

.main__cours__program__container h2 {
  margin-top: 0;
}

.main__cours__program__container h5 {
  margin-bottom: 0;
}

.main__cours__program__container select {
  width: 100%;
  padding: 12px 60px 12px 14px;
  margin: 8px auto;
  border-radius: 6px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #565656;
  appearance: none;
  position: relative;
}

.main__cours__program__container .select-section::after {
  content: "";
  background: url("../../Repository/Icons/arrow_down.png") center no-repeat;
  width: 12px;
  height: 8px;
  display: inline-block;
  position: absolute;
  right: 25px;
  top: 28px;
}

.main__cours__program__container option {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #565656;
  background-color: #FFFFFF;
}

.main__cours__program__icon-book {
  grid-column: 1 / 2;
}

.main__cours__program__education {
  grid-column: 2 / 3;
}

.main__cours__program__image {
  position: relative;
  bottom: -184px;
  left: 137px;
}

.main__course__more-information {
  display: grid;
}

.main__course__more-information__container {
  display: grid;
  grid-template-rows: 364px 333px;
  grid-template-columns: 60px 554px 38px 30px 60px auto;
  margin-top: 58px;
  margin-bottom: 148px;
}

.main__course__more-information__icon-reward {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  padding-top: 83px;
}

.main__course__more-information__certificate-text {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  padding-top: 83px;
}

.main__course__more-information__certificate-image {
  grid-row: 1 / 2;
  grid-column: 6 / 7;
  width: 363px;
  height: 256px;
  background-color: #D6D6D6;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  justify-self: end;
  align-content: flex-start;
}

.main__course__more-information__certificate-image p {
  text-align: center;
  position: relative;
  top: 116px;
}

.main__course__more-information__icon-clock {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.main__course__more-information__down-left-text {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.main__course__more-information .border-dotted {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  border-right: 10px dotted #FFECB3;
}

.main__course__more-information__icon-innovation {
  grid-row: 2 / 3;
  grid-column: 5 / 6;
}

.main__course__more-information__down-right-text {
  grid-row: 2 / 3;
  grid-column: 6 / 7;
}

.main__course__more-information__down-right-text a {
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FF9100;
}

.main__course__more-information h2 {
  margin-top: 0;
  margin-bottom: 16px;
}

.main__teachers__title {
  background-color: #FFB402;
  color: #FFFFFF;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
}

.main__teachers__title h1 {
  margin-top: 64px;
  margin-bottom: 24px;
}

.main__teachers__title p {
  max-width: 850px;
  margin: 0;
}

.main__teachers__managers {
  display: grid;
}

.main__teachers__managers__container {
  display: grid;
  grid-template-columns: 220px 441px 220px auto;
  padding-top: 96px;
  border-bottom: 10px dotted #DFF4F1;
}

.main__teachers__managers__container .manager-name {
  margin-top: 0;
  margin-bottom: 8px;
  color: #41BEAD;
}

.main__teachers__managers__container .manager-position {
  margin: 0;
  font-size: 14px;
  color: #B2B2B2;
}

.main__teachers__managers__container .manager-info {
  max-width: 409px;
  margin-top: 24px;
  color: #565656;
}

.main__teachers__all {
  display: grid;
}

.main__teachers__all--container {
  padding-top: 96px;
  padding-bottom: 128px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: 64px;
  grid-column-gap: 32px;
}

.main__teachers__all .current-teacher-container {
  text-align: center;
}

.main__teachers__all .current-teacher-container h4 {
  margin-top: 24px;
  margin-bottom: 8px;
  color: #41BEAD;
}

.main__teachers__all .current-teacher-container p {
  font-size: 14px;
  font-weight: 500;
  color: #B2B2B2;
  margin: 0;
}

.main__teachers__all .current-teacher {
  margin: 0 27px;
  border-radius: 50%;
}

.main__teachers__all .current-teacher__image {
  width: 188px;
  height: 188px;
  border-radius: 50%;
  border: 8px solid #41BEAD;
}

.main__teachers__all .current-teacher .teacher-avatar {
  width: 172px;
  height: 172px;
  border-radius: 50%;
}

.main__teachers__all .current-teacher .hover-item {
  display: none;
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: #FF9100;
  width: 172px;
  height: 172px;
  border-radius: 50%;
  opacity: 0.8;
}

.main__teachers__all .current-teacher .hover-item p {
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
}

.main__teachers__all .current-teacher .hover-item__image {
  margin-top: 42px;
  margin-bottom: 12px;
}

.main__teachers__all .current-teacher:hover .hover-item {
  display: block;
  cursor: pointer;
}

.main__teachers__candidate-form {
  display: grid;
  background-color: #66B9F8;
  border-top: 12px solid #92CDFB;
}

.main__teachers__candidate-form .candidate-form-and-information {
  display: grid;
  grid-template-rows: 156px 74px;
  grid-template-columns: 260px 260px 260px 156px;
  margin-top: 64px;
}

.main__teachers__candidate-form .candidate-form-and-information__main {
  grid-column: 1 / span all;
  width: 850px;
  text-align: center;
  justify-self: center;
  color: #FFFFFF;
}

.main__teachers__candidate-form .candidate-form-and-information h1 {
  margin-top: 0;
  margin-bottom: 24px;
}

.main__teachers__candidate-form .candidate-form-and-information p {
  margin: 0;
}

.main__teachers__candidate-form .candidate-form-and-information input {
  width: 228px;
  height: 52px;
  border-radius: 6px;
  border: 1px solid #ffffff;
  background-color: #66B9F8;
  padding: 16px;
}

.main__teachers__candidate-form .candidate-form-and-information ::placeholder {
  color: #FFFFFF;
}

.main__teachers__candidate-form .candidate-form-and-information__button {
  justify-self: end;
}

.main__teachers__candidate-form .candidate-form-and-information button {
  padding: 14px 32px;
}

.main__contact__map {
  background-image: url("../../Repository/Images/Map.png");
  background-size: cover;
  z-index: -1;
}

.main__contact__map .map-info {
  width: 519px;
  height: 382px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  position: absolute;
  bottom: -84px;
  left: 75px;
  padding: 32px;
  display: grid;
  grid-template-rows: 150px 116px auto;
  grid-template-columns: 240px auto;
  color: #565656;
}

.main__contact__map .map-info h4 {
  margin-top: 0;
  margin-bottom: 18px;
  color: #41BEAD;
}

.main__contact__map .map-info__address p {
  width: 216px;
}

.main__contact__map .map-info__work-time div {
  display: grid;
  grid-template-columns: 112px auto;
}

.main__contact__map .map-info__work-time div p {
  margin: 0;
  margin-bottom: 14px;
}

.main__contact__map .map-info .text-secondary {
  color: #FF9100;
}

.main__contact__map .map-info__contact p {
  margin-top: 0;
}

.main__contact__map .map-info__contact--phone {
  margin-bottom: 12px;
}

.main__contact__map .map-info__contact--email {
  margin-bottom: 24px;
}

.main__contact__map .map-info__button {
  grid-row: 3 / 4;
  grid-column: 1 / 3;
  align-self: center;
  justify-self: center;
}

.main__contact__contact-us {
  display: grid;
}

.main__contact__contact-us .contact-us__container {
  margin-top: 180px;
  height: 410px;
  display: grid;
  grid-template-rows: 56px 82px 192px auto;
  grid-template-columns: 441px auto;
}

.main__contact__contact-us .contact-us__container__title {
  grid-row: 1 / 2;
  grid-column: 1 / span all;
  color: #41BEAD;
  justify-self: center;
}

.main__contact__contact-us .contact-us__container h2 {
  margin: 0;
}

.main__contact__contact-us .contact-us__container input {
  border: 1px solid #919191;
  border-radius: 6px;
  padding: 16px;
}

.main__contact__contact-us .contact-us__container ::placeholder {
  color: #919191;
}

.main__contact__contact-us .contact-us__container__input-first {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  width: 409px;
  height: 52px;
}

.main__contact__contact-us .contact-us__container__input-second {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  width: 409px;
  height: 52px;
}

.main__contact__contact-us .contact-us__container__input-third {
  grid-row: 3 / 4;
  grid-column: 1 / 3;
  width: 100%;
  height: 100%;
  border: 1px solid #919191;
  border-radius: 6px;
}

.main__contact__contact-us .contact-us__container__input-third::placeholder {
  padding: 16px;
}

.main__contact__contact-us .contact-us__container__button {
  grid-row: 4 / 5;
  grid-column: 1 / 2;
  align-self: flex-end;
}

.main_contact__destination-guide {
  background-color: #FFF8E1;
  display: grid;
}

.main_contact__destination-guide .destination-guide__container {
  height: 380px;
  padding-top: 96px;
  display: grid;
  grid-template-rows: 84px auto;
  grid-template-columns: 442px 440px auto;
}

.main_contact__destination-guide .destination-guide__container h2,
.main_contact__destination-guide .destination-guide__container h3 {
  color: #41BEAD;
  margin: 0;
}

.main_contact__destination-guide .destination-guide__container h3 {
  margin-bottom: 2px;
}

.main_contact__destination-guide .destination-guide__container .destination-guide__title {
  grid-row: 1 / 2;
  grid-column: 1 / span all;
  justify-self: center;
}

.main_contact__destination-guide .destination-guide__container p {
  width: 407px;
  color: #565656;
}

footer,
.footer {
  display: grid;
  height: 312px;
  background-color: #565656;
  border-top: 12px solid #919191;
}

footer-container,
.footer-container {
  display: grid;
  grid-template-columns: 298px 316px 223px 252px auto;
  margin-top: 64px;
}

footer-container--logo,
.footer-container--logo {
  width: 202px;
  height: 403px;
  position: absolute;
  bottom: -53px;
}

footer-container--title,
.footer-container--title {
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 10px;
}

footer .footer__nav,
.footer .footer__nav {
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column wrap;
  list-style: none;
  max-height: 155px;
}

footer .footer__nav--item,
.footer .footer__nav--item {
  margin: 6px 0;
}

footer .footer__nav a,
.footer .footer__nav a {
  text-decoration: none;
  color: #E6E6E6;
  font-size: 16px;
  line-height: 19px;
}

footer .footer__nav a:hover,
.footer .footer__nav a:hover {
  color: #41BEAD;
}

footer .footer__nav--icons,
.footer .footer__nav--icons {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

footer .footer__nav--icons,
.footer .footer__nav--icons {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  padding: 0;
  margin: 30px 0;
}

footer .footer__nav--icons__item,
.footer .footer__nav--icons__item {
  margin-right: 20px;
}

footer .footer__nav--icons__item a,
.footer .footer__nav--icons__item a {
  display: block;
  font-style: normal;
  font-weight: normal;
  color: #E6E6E6;
}

footer .footer__nav--icons__item a i,
.footer .footer__nav--icons__item a i {
  font-size: 30px;
}

footer .footer__nav--icons__item a:hover,
.footer .footer__nav--icons__item a:hover {
  color: #41BEAD;
}

footer .footer__copyright,
.footer .footer__copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #919191;
  max-width: 190px;
}

.text-center {
  text-align: center;
}

.grid-center {
  justify-content: center;
}

.relative {
  position: relative;
}
