<header>
    <nav>
        <ul>
            <li><a href="home" id="logo">FURNITURE STORE</a></li>
            <li><a href="home">Home</a></li>
            <li><a href="create">Create</a></li>
           
        </ul>
    </nav>
</header>