body {
    max-width: 1200px;
    margin: auto;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: rgb(238, 238, 238);
}

.site-title {
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    font-size: 36px;
}

header nav ul li, .site-title, header nav{
    display: inline-block;
}

header nav ul li{
    color: green;
padding: 10px;
}

header{
    position: relative;
}

header nav{
    position: absolute;
    left: 70%;
    top: 30%;
    margin: 0;
}


hr {
    border: 2px solid black;
}

h1 {
    margin-top: 20px;
}

h1, h2 {
    font-family: Georgia, serif;
    font-weight: normal;
}

img {
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.25);
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

.pic1 {
    float: right;
    margin-left: 20px;
}

h2 {
    clear: both;
    margin-top: 50px;
}

.p-right {
    float: left;
    width: 50%;
    padding-right: 10px;
    margin-top: 0;
}

blockquote {
    font-style: italic;
    font-family: Georgia, serif;
    border-left: 2px solid gray;
    margin: 0;
    float: right;
    width: 40%;
    padding-top: 0px;
    padding-left: 40px;
    padding-bottom: 30px;
    color: rgb(68, 68, 68);
}

blockquote p {
    margin-top: 0;
}

footer {
    float: right;
}

.p-left {
    clear: both;
    ;
}

.pic2 {
    float: left;
    margin-right: 20px;
}

main {
    width: 70%;
    float: left;
    padding-right: 20px;
    margin-top: 0;
}

aside {
    width: 20%;
    float: right;
    margin-top: 20px;
    margin-left: 40px;
}

h3 {
    font-family: Georgia, serif;
    font-size: 1em;
}

li {
    list-style: square;
}

a {
    text-decoration: none;
    color: green;
}