html, body{
    height: 100%;
}

body{
    display: flex;
    margin: 0 auto;
    background-color: rgb(238, 238, 238);
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    max-width: 70%;
}

.img2{
    flex-basis: 55%;
    border-left: 20px solid black;
    border-right: 20px solid black;
}

.img1, .img3, .img4{
    flex-basis: 15%;
}

img{
    border-radius: 10px;
    margin: 10px;
    flex: 1 1 10px;
    overflow: hidden;
    box-shadow: 0 0 12px black;
}